@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideDownFade {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    30% {
        transform: translateY(0);
        opacity: 1;
    }
    70% {
        transform: translateY(10px);
        opacity: 1;
    }
    100% {
        transform: translateY(30px);
        opacity: 0;
    }
}
.animate-slideMessage {
    animation: slideDownFade 5s ease-in-out forwards;
}

*{
    color: rgb(42, 42, 42);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}